IaC/.terraform.lock.hcl
IaC/.terraform/modules/modules.json
IaC/.terraform/modules/network.vpc/
IaC/.terraform/providers/registry.terraform.io/hashicorp/aws/6.28.0/linux_amd64/LICENSE.txt
IaC/.terraform/providers/registry.terraform.io/hashicorp/aws/6.28.0/linux_amd64/terraform-provider-aws_v6.28.0_x5
IaC/.terraform/providers/registry.terraform.io/hashicorp/local/2.6.1/linux_amd64/LICENSE.txt
IaC/.terraform/providers/registry.terraform.io/hashicorp/local/2.6.1/linux_amd64/terraform-provider-local_v2.6.1_x5
IaC/.terraform/providers/registry.terraform.io/hashicorp/tls/4.1.0/linux_amd64/LICENSE.txt
IaC/.terraform/providers/registry.terraform.io/hashicorp/tls/4.1.0/linux_amd64/terraform-provider-tls_v4.1.0_x5
IaC/terraform.tfplan
